.stage{
    min-width: 400px;
    margin: 6px;    
    min-height: 64px;
    padding: 20px;
    cursor: pointer;

}

.stage__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

.stage_wrapper{
    background-color: RGBA(173,170,179,0.2);
    border-radius: 5px;
    padding: 10px;

}