.stage{
    width: 300px;
    margin: 6px;
}

.stage__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

.stage_wrapper{
    background-color: RGBA(173,170,179,0.2);
    border-radius: 5px;
    padding: 10px;

}