.stage{
    background-color: lightgrey;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 6px;
}

.stage__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}